.calendar{
    background-color: beige;
    margin: 3.5rem 10rem 1rem 10rem;
    height: 75vh;
    display: grid;
    grid-template-rows: 0.5fr repeat(5, 1fr);
    font-family: 'Permanent Marker', cursive;
}

.week, .weekTitle{
    display: grid;
    grid-template-columns: 10rem repeat(7, 1fr);
    align-items: stretch;
}

.week_btn{
    border: 0.3rem solid rgba(0,0,0,0.5);
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
}

.days{
    border: 0.3rem solid rgba(0,0,0,0.5);
    border-left: none;
    font-family: 'Permanent Marker', cursive;
    position: relative;
}

.calendar .week button, .calendar .week .days{
    border-top: none;
}

.weekTitle{
    background-color: #A2D2FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weekTitle .days{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dayOfWeek{
    font-size: 5rem;
}

.day_num{
    font-size: 2.5rem;
    position: absolute;
    top:0.5rem;
    left: 0.8rem;
    z-index:1;
}

.week_btn  {
    font-size: 4rem;
    background-color: beige;
}

.weekTitle .week_btn{
    font-size: 3rem;
    background-color: #FF865E;
}

.week .week_btn{
    background-color: #FEE440;
}

.week .week_btn:hover{
    cursor: pointer;
}

.date_dot{
    width: 4rem;
    height: 4rem;
    position: absolute;
    z-index:0;
    border-radius: 50%;
    top: 0.1rem;
    left: 0.4rem;
}

.today{
    background-color: #4D96FF;
}

.click{
    background-color: #FF6B6B;
}

@media screen and (max-width:1800px) {
    .dayOfWeek{
        font-size: 3.5rem;
    }
    .calendar{
        margin: 2.5rem 5rem 1rem 5rem;
    }

}