body{
    display: grid;
    grid-template-columns: 5vw 95vw;
    grid-template-rows: auto;
}

.monthly_header{
    height: 15vh;
    width: 100%;
    position: relative;
}
.year_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.5rem;
    left: 5rem;
    border-bottom: 3px solid #EB5353;
}

.year_left_icon, .year_right_icon{
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    color: rgb(143, 143, 143);
    transition: all .3s ease-in-out;
}
.year{
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
}

.month_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.month{
    font-family: 'Permanent Marker', cursive;
    font-size: 7rem;
    margin: 0 6rem;
    /* transform: skew(-10deg, 0); */
}

.month_left_icon, .month_right_icon{
    font-size: 4rem;
    padding: 0 3rem;
    color: rgb(143, 143, 143);
    transition: all .3s ease-in-out;
}

.year_left_icon:hover, .year_right_icon:hover{
    color: #EB5353;
    transform: scale(1.2);
}

.month_left_icon:hover, .month_right_icon:hover{
    color: #EB5353;
    transform: scale(1.1);
}

@media (max-width:400px) {
    body{
        grid-template-columns: auto;
        grid-template-rows: 5vh auto;
    }
    main{
        background-color: white;
    }
}