body{
    display: grid;
    grid-template-columns: 5vw 95vw;
    grid-template-rows: auto;
}

.monthly_header{
    display: flex;
    justify-content: flex-end;
    height: 15vh;
    width: 100%;
}

.months_btn_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 20%;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.months_btn{
    background-color: #FFD24C;
    width: 4rem;
    height: 4rem;
    align-items: center;
    border-radius: 0.8rem;
    font-size: 2rem;
    font-family: 'Song Myung', serif;
}

.months_btn span{
    display: inline-block;
    transform: skew(-20deg, 0);
}

.month{
    width: 33%;
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Song Myung', serif;
    /* transform: skew(-10deg, 0); */
}

@media screen and (max-width:1800px) {
    .month{
        width: 50vw;
    }
    .months_btn_container{
        width:25vw;
    }
}