.schedule_bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    transition: all .5s ease-in-out;
}
/* TODO: opacity add_schedule_container transition 잘 작동 안됨 
schedule_show에서 opacity 0.5로하면 작동되긴함
TODO: 날짜 클릭시 date에 시작 날짜로 해당 날짜 선택되도록
TODO: schedule모두 작성한뒤에 enter 또는 submit 버튼 클릭시 스케줄 box랑 스케줄 bg 서서히 사라지도록
*/
.add_schedule_container{
    background-color: #E3FCBF;
    position: absolute;
    top: 25rem;
    left: 50rem;
    width: 80rem;
    height: 60rem;
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: repeat(3, 1fr);
    padding: 4rem;
    align-items: center;
    border: 0.7rem solid black;
    transition: opacity .5s ease-in-out;
}
.schedule_bg_hidden{
    z-index: -1;
    opacity: 0;
}
.schedule_bg_show{
    z-index: 1;
    background-color: rgba(255,255,255,0.9);
}
.schedule_hidden{
    z-index: -1;
    opacity: 0;
}
.schedule_show{
    z-index: 1;
    opacity: 1;
}

input::placeholder, textarea::placeholder{
    color:rgb(160, 158, 158);
}

label[for = 'schedule_color']{
    grid-column: 1/2;
}

label[for = 'schedule_date']{
    grid-column: 1/2;
}

label[for = 'schedule']{
    grid-column: 1/2;
}

button[type = 'submit']{
    grid-column: 2/3;
    border: 0.5rem solid black;
    width: 15rem;
    margin: 3rem 0 0 2rem;
    background-color: #FFB2A6;
    margin-left: 20%;
}

.add_schedule_container label, button[type='submit']{
    font-size: 3.5rem;
    font-family: 'Permanent Marker', cursive;
}


input[type = 'color']{
    width: 10rem;
    height: 4rem;
    background-color: transparent;
    border: none;
}

.schedule_date_inputContainer{
    font-size: 3rem;
}

.start_date, input[id='schedule_date']{
    width: 25rem;
    height: 3.5rem;
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}


textarea{
    margin-top: 1.5rem;
    width: 35rem;
    height: 6rem;
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}

.schedule_box{
    position: absolute;
    top: 3.5rem;
    width: 100%;
    height: 2.5rem;
    background-color: pink;
    font-size: 2rem;
    text-align: center;
}

.days:active{
    background-color: pink;
}

@media screen and (max-width:1800px) {
    .add_schedule_container{
        top: 10rem;
        left: 55rem;
    }
}