.habbit_result{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.habbit_result_main{
    position: relative;
}
/* habbit_header */

.habbit_result_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 10rem;
}

.habbit_result_title{
    font-size: 4.5rem;
    font-family: 'Permanent Marker', cursive;
    background-color: aqua;
    padding: 0 1rem;
    transition: background-color .3s ease-in-out;
}
.habbit_result_title:hover{
    cursor: pointer;
    background-color: #92B4EC;
}

.graph{
    background-color: #FF8C8C;
}
/* habbit_calendar */

.habbit_calendar{
    background-color: pink;
    height: 90vh;
}

.habbit_calendar{
    display: grid;
    grid-template-rows: 5rem repeat(5, 1fr);
    padding: 8rem 20rem;
}

.weekTitle, .weekRow{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    border: 0.7rem solid black;
    font-size: 3.5rem;
    font-family: 'Permanent Marker', cursive;
}

.date{
    background-color: cornflowerblue;
    border: 0.7rem solid black;
    border-top: none;
    font-size: 6rem;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .4s ease-in-out;
}
.weekRow .date:not(:first-child), .day:not(:first-child){
    border-left: none;
}
.date:hover{
    cursor: pointer;
}
.achieve{
    background-color: deeppink;
}


/* habbit yearly chart */
.chart_container{
    background-color: white;
    position: absolute;
    height: 90vh;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

#myChart{
    width: 80%;
}

.hidden{
    z-index: -1;
    opacity: 0;
}

.show{
    z-index: 1;
    opacity: 1;
}

.habbit_calendar, .chart_container{
    transition: all .7s ease-in-out;
}

@media screen and (max-width:1800px) {
    .habbit_result_title, .result_graph{
        font-size: 3.8rem;
    }
}