.week_calendar{
    height: 80vh;
    box-sizing: border-box;
    margin: 2.5rem 10rem 0 10rem;
}

.week_calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.week_day_container{
    background-color: #FEF9EF;
    justify-items: stretch;
    display: grid;
    grid-template-rows: 0.7fr 5fr;
}

.week_day_title{
    background-color: #A2D2FF;
    grid-row: 1/2;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
    border: 0.5rem solid black;
}
.week_day_container:not(:first-of-type) .week_day_title{
    border-left: none;
}

.todo_container{
    border: 0.5rem solid black;
    border-top: none;
}
.week_day_container:not(:first-of-type) .todo_container{
    
    border-left: none;
}
.todo_item_container{
    
    display: flex;
    align-items: center;
    height: 6rem;
    font-size: 2rem;
    margin: 0 1rem;
    border-bottom: 0.3rem solid #FF7600;
}

.todo_item_container:last-child{
    border-bottom: none;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label{
    display: inline-block;
    border: 0.3rem solid black;
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
    
}

input[type="checkbox"] + label:hover{
    cursor: pointer;
}

.fa-check{
    font-size: 2.5rem;
}

.hidden{
    display: none;
}

.visibie{
    display: block;
}
/* TODO: todo item 클릭시 체크박스에 표시 되고, 지운 막대는 js로 구현하기
TODO: todo를 완료했을시 1) 삭제 2) 밑줄표시는 선택으로 나중에 구현 */


@media screen and (max-width:1800px) {
    .week_day_title{
        font-size: 3.5rem;
    }

    .todo_item_container{
    height: 5rem;
    }
}