body{
    display: grid;
    grid-template-columns: 5vw 95vw;
    grid-template-rows: auto;
}

.weekly_header{
    height: 15vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.weeks_btn_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    padding-left: 10rem;
}

.weeks_btn{
    background-color: #FF865E;
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
    font-size: 2rem;
    font-family: var(--font);
}

.week_title{
    font-size: 7rem;
    font-family: var(--font);
    grid-column: 2/5;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.week_title span{
    background-color: #FEE440;
    padding: 2.5rem;
}

@media screen and (max-width:1800px) {
    .weekly_header{
        grid-template-columns: repeat(4, 1fr);
    }

    .week_title{
        grid-column: 2/4;
    }
}